/*       .floating { display : flex;
                    flex-wrap: wrap;
                    position:relative;
 } */
        
 .cuerpo {position:relative;
    display:block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    }


.form-control {width: 100%;}





ul {flex-direction: row;}

#contFuncional {
margin-left: 0!important;
margin-right: 0!important;
}
